<StackLayout id="centralize" orientation="vertical" class="wizardForm">
    <Label class="wizardLabel" textWrap="true">
        <FormattedString>
            <Span text="Percentual " color="black" class="light"></Span>
            <Span text="de imposto " color="black" class="light"></Span>
            <Span text="a pagar?" color="black" class="bold"></Span>
        </FormattedString>
    </Label>

    <TextField #secondTaxInput keyboardType="number" class="placeHolderColor input m-t-10 m-b-10" hint="%" required
        [(ngModel)]='companyInfo.companyIncomePercentTax' #companyIncomePercentTax="ngModel"></TextField>

    <Label text="percentual de taxa que deve ser pago, de acordo com o CNAE da empresa" textWrap="true"
        style="font-weight: 300;" class="hint"></Label>


    <button [ngClass]="companyIncomePercentTax.valid === true ? 'enabled' : 'disabled'"
        class="m-t-10 button btn-outline" [isEnabled]="companyIncomePercentTax.valid && companyInfo.companyIncomePercentTax <= 100" (tap)="calculateTaxes()"
        text="Continuar" [nsRouterLink]="['/userinputwizard3']" pageTransition="slide"></button> -->
</StackLayout>
