<ScrollView>
    <StackLayout class='form'>
        <Label text="Imposto a pagar sobre Faturamento Bruto" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='companyInfo.companyProfitTax' editable="false"></TextView>

        <Label text="INSS a pagar:" textWrap="true"></Label>
        <TextField class='taxes' [(ngModel)]='companyInfo.inssTax'></TextField>

        <Label text="IRPF a pagar:" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='companyInfo.irpfTax' editable="false"></TextView>

        <Label text="Total de Taxas e impostos a pagar:" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='companyInfo.totalTaxes' editable="false"></TextView>

        <Label text="Quanto vou lucrar?" textWrap="true"></Label>
        <TextView class='profit' [(ngModel)]='companyInfo.totalProfit' editable="false"></TextView>
</StackLayout>
</ScrollView>
