<!-- <StackLayout>
        <Label text="Imposto a pagar sobre Faturamento Bruto" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='impostoEmpresaAPagar' editable="false"></TextView>

        <Label text="INSS a pagar:" textWrap="true"></Label>
        <TextField class='taxes' [(ngModel)]='inssAPagar'></TextField>

        <Label text="IRPF a pagar:" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='irpfAPagar' editable="false"></TextView>

        <Label text="Total de Taxas e impostos a pagar:" textWrap="true"></Label>
        <TextView class='taxes' [(ngModel)]='totalAPagar' editable="false"></TextView>

        <Label text="Quanto vou lucrar?" textWrap="true"></Label>
        <TextView class='profit' [(ngModel)]='quantoVouLucrar' editable="false"></TextView>
</StackLayout> -->