/* Add mobile styles for the component here.  */
.form {
    padding: 15%;
    background-color: #7c4dff; /* alternative #651fff*/
    color:white;
}

.placeHolderColor {
    placeholder-color:#d8d8d8;
    font-size: 15%;
}
.button {
    background-color: aliceblue;
    color:#66bb6a;   
}
.profit {
    color:#66bb6a;
    font-weight: bold;
    font-size: 30%;
    margin-bottom: 5;
    vertical-align: top;
    margin-top:9;
}
.taxes {
    color:#ff7961; 
    font-size: 15vw;
}

.smallGreenArrow {
    height:50px;
    width:50px;
}