/* Add mobile styles for the component here.  */
.form {
    padding: 15%;
    background-color: #7c4dff; /* alternative #651fff*/
    color:white;
}

.placeHolderColor {
    placeholder-color:#d8d8d8;
    font-size: 15%;
}
.button {
    background-color: aliceblue;
    color:#66bb6a;   
}
.profit {
    color:#66bb6a;
}
.taxes {
    color:#ff7961;
}